.container {
  width: 100%;
  margin: auto;
}

@media (max-width: 900px) {

  .grid {
    width: 100%;
  }

  .grid td {
    height: 35px;
    width: 35px;
    padding: 5px 5px;
  }
} 

.grid td {
  height: 50px;
  width: 50px;
  padding: 15px 10px;
  border: 2px solid rgb(249, 249, 249, 0.5);
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.unavailable {
  display: inline-block;
  background-color: #cd5c5c;
  pointer-events: none;
}

.reserved {
  border-color: #1ea83c !important;
  color: #fff;
  background-color: #1ea83c!important;
  display: inline-block;
}

.available {
  color: white;
}

li {
  list-style: none;
}